.pets-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .pets-toolbar__search {
        width: 100%;
        max-width: 600px;
        display: flex;
        gap: 10px;
        align-items: center;

        input {
            width: 100%;
            padding: 10px;
        }
    }
}