<nav class="main-sidebar" [ngClass]="{ collapsed: mainSidebarService.isCollapsed() }">
  <header class="main-sidebar__header">
    @if (!mainSidebarService.isCollapsed()) {
      <h1 class="main-sidebar__title">Adoptly</h1>
    }
    @if (mainSidebarService.isCollapsed()) {
      <button class="main-sidebar__open-panel"
              (click)="mainSidebarService.expand()">
        <mat-icon class="material-symbols-rounded">right_panel_close</mat-icon>
      </button>
    } @else {
      <button class="main-sidebar__close-panel"
              (click)="mainSidebarService.collapse()">
        <mat-icon class="material-symbols-rounded">left_panel_close</mat-icon>
      </button>
    }
  </header>

  <section class="main-sidebar__content">
    <span class="main-sidebar__divider"></span>

    <ul class="main-sidebar__list-options">
      @if (mainSidebarService.activeProfile() == 'individual') {
        <li>
          <a [ngClass]="{ activated: mainSidebarService.selectedValue() == 'home' }"
             (click)="mainSidebarService.changeSelectedValue('home')">
            <mat-icon class="material-symbols-rounded">home</mat-icon>
            @if (!mainSidebarService.isCollapsed()) {
              <p>Home</p>
            }
          </a>
        </li>
        <li>
          <a [ngClass]="{ activated: mainSidebarService.selectedValue() == 'browse' }"
             (click)="mainSidebarService.changeSelectedValue('browse')">
            <mat-icon class="material-symbols-rounded">search</mat-icon>
            @if (!mainSidebarService.isCollapsed()) {
              <p>Browse</p>
            }
          </a>
        </li>
        <li>
          <a [ngClass]="{ activated: mainSidebarService.selectedValue() == 'bookmarks' }"
             (click)="mainSidebarService.changeSelectedValue('bookmarks')">
            <mat-icon class="material-symbols-rounded">bookmark</mat-icon>
            @if (!mainSidebarService.isCollapsed()) {
              <p>bookmark</p>
            }
          </a>
        </li>
        <li>
          <a [ngClass]="{ activated: mainSidebarService.selectedValue() == 'requests' }"
             (click)="mainSidebarService.changeSelectedValue('requests')">
            <mat-icon class="material-symbols-rounded">handshake</mat-icon>
            @if (!mainSidebarService.isCollapsed()) {
              <p>Requests</p>
            }
          </a>
        </li>
        <li>
          <a [ngClass]="{ activated: mainSidebarService.selectedValue() == 'chat' }"
             (click)="mainSidebarService.changeSelectedValue('chat')">
            <mat-icon class="material-symbols-rounded">chat</mat-icon>
            @if (!mainSidebarService.isCollapsed()) {
              <p>Chat</p>
            }
          </a>
        </li>
      }
      @else {
        <li>
          <a [ngClass]="{ activated: mainSidebarService.selectedValue() == 'home' }"
             (click)="mainSidebarService.changeSelectedValue('home')">
            <mat-icon class="material-symbols-rounded">home</mat-icon>
            @if (!mainSidebarService.isCollapsed()) {
              <p>Home</p>
            }
          </a>
        </li>
        <li>
          <a [ngClass]="{ activated: mainSidebarService.selectedValue() == 'my-pets' }"
             (click)="mainSidebarService.changeSelectedValue('my-pets')">
            <mat-icon class="material-symbols-rounded">pets</mat-icon>
            @if (!mainSidebarService.isCollapsed()) {
              <p>My pets</p>
            }
          </a>
        </li>
        <li>
          <a [ngClass]="{ activated: mainSidebarService.selectedValue() == 'requests' }"
             (click)="mainSidebarService.changeSelectedValue('requests')">
            <mat-icon class="material-symbols-rounded">handshake</mat-icon>
            @if (!mainSidebarService.isCollapsed()) {
              <p>Requests</p>
            }
          </a>
        </li>
        <li>
          <a [ngClass]="{ activated: mainSidebarService.selectedValue() == 'chat' }"
             (click)="mainSidebarService.changeSelectedValue('chat')">
            <mat-icon class="material-symbols-rounded">chat</mat-icon>
            @if (!mainSidebarService.isCollapsed()) {
              <p>Chat</p>
            }
          </a>
        </li>
      }
    </ul>

    <span class="main-sidebar__divider"></span>

    <div class="main-sidebar__actions">
      @if (!mainSidebarService.isCollapsed()) {
        <button class="main-sidebar__profile-selector"
                (click)="mainSidebarService.toggleActiveProfile()">
          @if (mainSidebarService.activeProfile() == 'individual') {
            <p>Individual</p>
          } @else {
            <p>Organization</p>
          }
          <mat-icon class="material-symbols-rounded">change_circle</mat-icon>
        </button>
      }

      <button class="main-sidebar__log-out">
        <mat-icon class="material-symbols-rounded">logout</mat-icon>
        @if (!mainSidebarService.isCollapsed()) {
          <p>Log out</p>
        }
      </button>
    </div>

    <span class="main-sidebar__divider"></span>
  </section>

  <footer class="main-sidebar__footer">
    <button>
      <div class="avatar">
        <h1>I</h1>
      </div>
      @if (!mainSidebarService.isCollapsed()) {
        <div class="user-data">
          <h2>Ignacio Villarreal</h2>
          <h3>IgnacioVillarreal31</h3>
        </div>
      }
    </button>
  </footer>
</nav>
