$sidebar-width: 280px;
$sidebar-collapsed-width: 80px;
$transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

.main-layout {
  position: relative;
  width: 100%;
  min-height: 100vh;

  .main-layout__content {
    margin-left: $sidebar-width;
    transition: $transition;
    padding: 20px;
    background-color: var(--background);
    color: var(--foreground);
    width: calc(100% - $sidebar-width);
    min-height: 100vh;

    &.collapsed {
      margin-left: $sidebar-collapsed-width;
      width: calc(100% - $sidebar-collapsed-width);
    }
  }
}
