:root .theme-light {
  --grapefruit: #ED5565;
  --bittersweet: #FC6E51;
  --sunflower: #FFCE54;
  --grass: #A0D468;
  --mint: #48CFAD;
  --aqua: #4FC1E9;
  --bluejeans: #5D9CEC;
  --lavander: #AC92EC;
  --pinkrose: #EC87C0;
  --lightgray: #F5F7FA;
  --mediumgray: #CCD1D9;
  --darkgray: #656D78;
}

:root .theme-dark {
  --grapefruit: #DA4453;
  --bittersweet: #E9573F;
  --sunflower: #F6BB42;
  --grass: #8CC152;
  --mint: #37BC9B;
  --aqua: #3BAFDA;
  --bluejeans: #4A89DC;
  --lavander: #967ADC;
  --pinkrose: #D770AD;
  --lightgray: #E6E9ED;
  --mediumgray: #AAB2BD;
  --darkgray: #434A54;
}

:root .theme-light {
  --sidebar-background: rgb(214, 211, 209);
  --sidebar-foreground: rgb(30, 41, 59);
  --sidebar-divider: rgb(30, 41, 59);
  --sidebar-icon: rgb(30, 41, 59);
  --sidebar-content-hover: rgba(30, 41, 59, 0.2);
  --sidebar-primary-background-active: rgb(191, 191, 191);
  --sidebar-primary-foreground: rgb(30, 41, 59);
}

:root .theme-dark {
  --sidebar-background: rgb(58, 54, 51);
  --sidebar-foreground: rgb(226, 232, 240);
  --sidebar-divider: rgb(226, 232, 240);
  --sidebar-icon: rgb(226, 232, 240);
  --sidebar-content-hover: rgba(226, 232, 240, 0.2);
  --sidebar-primary-background-active: rgb(46, 43, 41);
  --sidebar-primary-foreground: rgb(226, 232, 240);
}


  :root .theme-light {
  --background: rgb(231, 229, 228);
  --foreground: rgb(30, 41, 59);
  --card: rgb(245, 245, 244);
  --card-foreground: rgb(30, 41, 59);
  --popover: rgb(245, 245, 244);
  --popover-foreground: rgb(30, 41, 59);
  --primary: rgb(53, 107, 252);
  --primary-foreground: rgb(255, 255, 255);
  --secondary: rgb(214, 211, 209);
  --secondary-foreground: rgb(75, 85, 99);
  --muted: rgb(231, 229, 228);
  --muted-foreground: rgb(107, 114, 128);
  --accent: rgb(218, 230, 255);
  --accent-foreground: rgb(55, 65, 81);
  --destructive: rgb(239, 68, 68);
  --destructive-foreground: rgb(255, 255, 255);
  --border: rgb(214, 211, 209);
  --input: rgb(214, 211, 209);
  --ring: rgb(53, 107, 252);
  --chart-1: rgb(53, 107, 252);
  --chart-2: rgb(31, 74, 241);
  --chart-3: rgb(23, 53, 222);
  --chart-4: rgb(25, 45, 180);
  --chart-5: rgb(26, 43, 142);


  --sidebar-accent: rgb(218, 230, 255);
  --sidebar-accent-foreground: rgb(55, 65, 81);
  --sidebar-border: rgb(214, 211, 209);
  --sidebar-ring: rgb(53, 107, 252);
  --shadow-2xs: 2px 2px 10px 4px hsl(240 4% 60% / 0.09);
  --shadow-xs: 2px 2px 10px 4px hsl(240 4% 60% / 0.09);
  --shadow-sm: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 1px 2px 3px hsl(240 4% 60% / 0.18);
  --shadow: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 1px 2px 3px hsl(240 4% 60% / 0.18);
  --shadow-md: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 2px 4px 3px hsl(240 4% 60% / 0.18);
  --shadow-lg: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 4px 6px 3px hsl(240 4% 60% / 0.18);
  --shadow-xl: 2px 2px 10px 4px hsl(240 4% 60% / 0.18), 2px 8px 10px 3px hsl(240 4% 60% / 0.18);
  --shadow-2xl: 2px 2px 10px 4px hsl(240 4% 60% / 0.45);
}

:root .theme-dark {
  --background: rgb(30, 27, 24);
  --foreground: rgb(226, 232, 240);
  --card: rgb(44, 40, 37);
  --card-foreground: rgb(226, 232, 240);
  --popover: rgb(44, 40, 37);
  --popover-foreground: rgb(226, 232, 240);
  --primary: rgb(53, 107, 252);
  --primary-foreground: rgb(30, 27, 24);
  --secondary: rgb(58, 54, 51);
  --secondary-foreground: rgb(209, 213, 219);
  --muted: rgb(44, 40, 37);
  --muted-foreground: rgb(156, 163, 175);
  --accent: rgb(72, 68, 65);
  --accent-foreground: rgb(209, 213, 219);
  --destructive: rgb(239, 68, 68);
  --destructive-foreground: rgb(30, 27, 24);
  --border: rgb(58, 54, 51);
  --input: rgb(58, 54, 51);
  --ring: rgb(53, 107, 252);
  --chart-1: rgb(53, 107, 252);
  --chart-2: rgb(31, 74, 241);
  --chart-3: rgb(23, 53, 222);
  --chart-4: rgb(25, 45, 180);
  --chart-5: rgb(26, 43, 142);

  --sidebar-accent: rgb(72, 68, 65);
  --sidebar-accent-foreground: rgb(209, 213, 219);
  --sidebar-border: rgb(58, 54, 51);
  --sidebar-ring: rgb(53, 107, 252);
  --shadow-2xs: 2px 2px 10px 4px hsl(0 0% 0% / 0.09);
  --shadow-xs: 2px 2px 10px 4px hsl(0 0% 0% / 0.09);
  --shadow-sm: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 1px 2px 3px hsl(0 0% 0% / 0.18);
  --shadow: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 1px 2px 3px hsl(0 0% 0% / 0.18);
  --shadow-md: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 2px 4px 3px hsl(0 0% 0% / 0.18);
  --shadow-lg: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 4px 6px 3px hsl(0 0% 0% / 0.18);
  --shadow-xl: 2px 2px 10px 4px hsl(0 0% 0% / 0.18), 2px 8px 10px 3px hsl(0 0% 0% / 0.18);
  --shadow-2xl: 2px 2px 10px 4px hsl(0 0% 0% / 0.45);
}
