.password-settings {
  background-color: var(--section-background);
  padding: 20px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  h1 {
    font-size: clamp(22px, 2.4vw, 32px);
    color: var(--section-foreground);
    border-bottom: 3px solid var(--border);
    padding-bottom: 10px;
  }

  .password-settings__option {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--sub-section-background);
    padding: 15px 10px;
    border-radius: 6px;

    h2 {
      font-size: clamp(18px, 2.4vw, 28px);
      color: var(--section-foreground-2);
    }

    form {
      display: flex;
      gap: 20px;

      .form-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
          font-size: clamp(14px, 2vw, 18px);
          color: var(--section-foreground);
        }

        input {
          width: 100%;
          padding: 12px;
          border: 2px solid var(--primary-background);
          border-radius: 6px;
          color: var(--foreground);
          font-size: clamp(14px, 2vw, 18px);
          background-color: var(--section-background);

          &:focus-visible {
            outline: 3px solid var(--primary-focus);
          }
        }
      }
    }

    button {
      background-color: var(--primary-background);
      color: var(--primary-foreground);
      border: none;
      padding: 8px;
      border-radius: 6px;
      cursor: pointer;
      font-size: clamp(14px, 2vw, 18px);

      &:hover {
        background-color: var(--primary-hover);
      }
    }
  }
}
